<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php_projet/public/

    # URLs propres
    RewriteRule ^match/([0-9]+)/?$ match.php?id=$1 [NC,L,QSA]

    # Sécurité
    RewriteRule ^(config|models|views) - [F,L]
    Options -Indexes
    DirectoryIndex index.php

    # Redirection des erreurs
    ErrorDocument 404 /php_projet/public/errors/404.php
</IfModule>